<div class="modal-dialog modal-sm modal-dialog-centered">
  <div class="modal-content">
  <div class="modal-body">
    <div class="row">
      <div class="col text-end">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi bi-x-lg" style="color: black"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <i class="<%= icon %>" style="color: <%= icon_color %>; font-size: 5rem"></i>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <h5><%= body_message %></h5>
      </div>
    </div>
  </div>
  </div>
</div>