.btn-action {
  font-weight: 600 !important;
  color: white !important;
  border-radius: .9rem !important;
  background-color: #5BA0EA !important;
}

.dropdown .dropdown-item {
  color: black !important;
}