.form-select {
  border-radius: 1rem !important;
}

.choices {
  color: black;

  .choices__inner {
    border-radius: 1rem;
    background-color: white;
  }

  .choices__list--dropdown.is-active {
    margin-top: .5rem;
    border-radius: 1rem;
  }
}