<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, data: { turbo: 'false' } }) do |form| %>
  <section class="min-vh-100 mb-0">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
<!--            <h4 class="text-dark mb-2 mt-5">Recuperaci칩n de contrase침a</h4>-->
          </div>
        </div>
      </div>
    </div>
    <div class="container min-vh-50">
      <div class="row mt-lg-n10 mt-md-n11 mt-n5">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0">
            <div class="card-header text-center pt-4">
              <h5>Recuperar contrase침a</h5>
            </div>
            <div class="card-body">
              <div class="text-left">
                <div class="mb-3">
                  <label>Email</label>
                  <%= form.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Escribe tu email', required: true %>
                </div>

                <div class="text-center mb-4">
                  <%= form.submit "Recuperar contrase침a", class: 'btn bg-gradient-dark w-100 my-4 mb-2' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>