<%= turbo_frame_tag 'customer-show-header' do %>
  <div class="row">
    <div class="col">
      <div class="card card-body border-radius-md" id="profile">
        <div class="row">
          <div class="col-8 my-auto">
            <div class="h-100">
              <h4 class="mb-1 font-weight-bolder"><%= @customer.name.titleize %></h4>
              <h6 class="mb-0 font-weight-bold text-sm text-black">Identificador: <%= @customer.identifier %></h6>
            </div>
          </div>

          <div class="col-4 my-auto text-end pt-3">
            <%= link_to 'Editar', edit_dashboards_planify_customer_path(@customer), class: 'btn btn-action', data: { turbo: false }  %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>