<nav class="navbar navbar-main navbar-expand-lg border-radius-xl shadow-none" id="navbarBlur" navbar-scroll="false">
  <div class="container-fluid py-1 px-3 ps-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
      </ol>
      <h6 class="font-weight-bolder mb-0">Dashboard</h6>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <ul class="navbar-nav  justify-content-end">
          <li class="nav-item align-items-center">
            <%= render Shared::Buttons::IconDropdownComponent.new(
              options: [{title: 'Cerrar sesion'}]
            ) %>

<!--            <a href="javascript:void(0)" class="nav-link text-body" id="navOptionsButton" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--              <i class="bi bi-gear-fill" style="font-size: 1rem"></i>-->
<!--            </a>-->
<!--            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navOptionsButton" id="nav-profile-option">-->
<!--              <li class="">-->
<!--                <div class="dropdown-item border-radius-md">-->
<!--                  <div class="d-flex">-->
<!--                    <div class="d-flex flex-column justify-content-center">-->
<!--                      <h6 class="text-sm font-weight-normal">-->
                        <%# if current_user.present? %>
                          <%#= link_to 'Cerrar sesion', sign_out_sessions_path, 'data-turbo-method': :delete, class: 'nav-link' %>
                        <%# end %>
<!--                      </h6>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
<!--            </ul>-->
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>