<div id="customer_state_select"
     data-controller="shared--virtual-select shared--countries"
     data-url="/countries"
     data-multiple="false"
     data-placeholder="<%= I18n.t('shared.dropdowns.select') %>"
     data-action="change->shared--countries#getStates"></div>