/*
 *= require 'bootstrap'
 *= require_tree .
 *= require_self
*/

@import "theme/main.min";
@import "bootstrap-icons/font/bootstrap-icons";

@font-face {
  font-family: "bootstrap-icons";
  src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
  font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}