@import "theme/main.min";
@import "bootstrap-icons/font/bootstrap-icons";
@import "virtual-select-plugin/dist/virtual-select.min";
@import "libraries/slim-select";

@font-face {
  font-family: "bootstrap-icons";
  src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
  font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}

.dropdown-menu::before {
  display: none;
}

#nav-profile-option::before {
  display: none !important;
}

.dropdown .dropdown-toggle:after {
  display: none;
}


